* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    margin: 47px 0 140px 80px;
}

.nav-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.88px;
    color: #17233D;
    margin-right: 60px;
    cursor: pointer;
}

.nav-button {
    width: 124px;
    height: 51px;
    background: #6FBF44;
    border-radius: 6px;
    border: 1px solid #4CB538;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}

.box-main {
    margin-bottom: 140px;

}

.congratulation-image {
    width: 595.18px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    width: 500px;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49;
}

p {
    width: 500px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 32px;
    margin-bottom: 65px;
}

.learn-more-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
}

@media screen and (max-width: 1320px) {

    nav {
        margin-top: 20px;
        margin-left: 74%;
    }

    .nav-button {
        width: 91px;
        height: 31px;
        background: #6FBF44;
        border-radius: 6px;
        border: 1px solid #4CB538;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 1px;
        color: #FFFFFF;
        cursor: pointer;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
    }   

    .nav-link {
        display: none;
    }   

    .box-main {
        margin: 100px 0;
    }

    .congratulation-image {
        width: 90%;
        height: auto;
        margin: 40px auto;
        display: block;
        bottom: 0;
        position: absolute;
        justify-self: anchor-center;
    }

    section {
        display: block;
        margin: 15px auto;
        text-align: center;
    }

    h1 {
        width: 278px;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.6px;
        color: #161A49;
        margin: 0 auto;
    }

    p {
        width: 304px;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0.5px;
        color: #4B505A;
        margin: 32px auto 65px auto;
    }  

    .learn-more-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 1px;
        color: #6FBF44;
        cursor: pointer;
    }

}